{% extends 'base.html.twig' %}

{% block title %}Log out!{% endblock %}

{% block content %}
<div class="main">
    <div class="header"><h2>Aurevoir et à bientôt</h2></div>

<form action ="{{ path("app_login") }}" method="POST">
    <input type="submit" value="Login"></input>
</form>
{% endblock %}
