{% extends 'adminBase.html.twig' %}

{# {% block title %}Formulaire Visite{% endblock %} #}

{% block content %}
<div class="container mt-4">
<h1>Ajout Visite</h1>
{{ form_start (formulaireVisite, {'action': path('ajout_visite'), 'method': 'POST'}) }}
    <div class="row">
    {{ form_widget (formulaireVisite) }}      
    </div>
    <button class="btn btn-primary">Ajouter</button>
    {# <input type="submit" class="btn" value="Ajouter"/> #}
{{ form_end (formulaireVisite) }}
</div>

{% endblock %}
