{% extends 'base.html.twig' %}

{% block title %}Espace log{% endblock %}

{% block content %}
<div>
<h2>Bienvenue {{app.user.pseudo}}</h2>
<h6>TODO formulaire devis et réservation plus edit données</h6>
</div>
<a href="{{ logout_path('main')}}">LogOut<a>
{% endblock %}
