{% extends 'zoneMembre.html.twig' %}

{% block title %}zoneMembre{% endblock %}

{% block body %}
<div >
    <p><span>Nom {{profil.nom}}</span></p>
    <p><span>Prenom {{profil.prenom}}</span></p> 
    <p><span>Pseudo {{profil.pseudo}}</span></p>
</div> 

{% endblock %}

