{% extends 'base.html.twig' %}

{# {% block title %}Formulaire Visite{% endblock %} #}

{% block content %}
<h1>Formulaire Visite</h1>
{{ form_start (formulaireVisite, {'action': path('ajout_visite'), 'method': 'POST'}) }}
    {{ form_widget (formulaireVisite) }}  
    <input type="submit" class="btn" value="Ajouter"/>
{{ form_end (formulaireVisite) }}
{% endblock %}
